<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        text-align:center;
        margin-top:90px;
        font-size:30px;
        background-image:linear-gradient(to right,red,orange,yellow,indigo,violet,green,blue);
        }
        button{
        padding:10px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> HomePage</h1>
<button><a href="http://127.0.0.1:8000/p1">Register</a></button>
<button><a href="http://127.0.0.1:8000/p2">Signin</a></button>


</body>
</html>