<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
        text-align:center;
        padding:50px;
        background-color:yellow;
        margin-top:150px;
        font-size:30px
        }

        button{
        padding:10px;
        }

        button-hover{
        background-color:yellow;}

    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome</h1>
<button><a href="p4">SHOW DATA</a></button>
<button><a href="p5">logout</a></button>
</body>
</html>